<div class="container">
    <div class="image-placeholder">
        <img class="mainimage" src="../../assets/the-lounge-mainimage.png">
    </div>
    <div class="the-lounge-body">
        <div>
            <h1 class="the-lounge-h1">Live the night at Hacienda Volpes</h1>
        </div>
        <div>
            <p class="the-lounge-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                At tempor commodo ullamcorper a lacus vestibulum sed arcu non. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. 
                Sed viverra tellus in hac habitasse platea. Orci nulla pellentesque dignissim enim sit amet venenatis. Blandit volutpat maecenas volutpat blandit aliquam. 
                Non consectetur a erat nam at lectus urna. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse. 
                Arcu felis bibendum ut tristique et egestas quis ipsum. Tellus at urna condimentum mattis pellentesque id nibh tortor. 
                Cras sed felis eget velit aliquet sagittis id consectetur. Ut enim blandit volutpat maecenas volutpat blandit aliquam. Ac orci phasellus egestas tellus rutrum tellus pellentesque. 
                Vitae semper quis lectus nulla at volutpat diam. Vitae nunc sed velit dignissim sodales ut eu. 
                Venenatis urna cursus eget nunc scelerisque.
            </p>
            <p class="the-lounge-p">
                Dui id ornare arcu odio ut sem nulla pharetra diam. Aliquet enim tortor at auctor urna nunc id cursus. 
                Tincidunt vitae semper quis lectus nulla at. Vitae nunc sed velit dignissim sodales ut eu sem. Lacus laoreet non curabitur gravida arcu. 
                Etiam dignissim diam quis enim lobortis. Odio aenean sed adipiscing diam. Nisi vitae suscipit tellus mauris. 
                Hendrerit gravida rutrum quisque non tellus. Sed id semper risus in. Vestibulum lectus mauris ultrices eros. 
                Scelerisque in dictum non consectetur a. Pellentesque nec nam aliquam sem et tortor. Risus quis varius quam quisque id diam. 
                Donec adipiscing tristique risus nec feugiat in fermentum posuere. Enim sed faucibus turpis in eu mi.
            </p>
        </div>
    </div>
    <div class="widget-placeholder">
        <mat-grid-list class="the-lounge-gridlist" cols="3" rowHeight="2:1" [gutterSize]="'30px'">
            <mat-grid-tile>
                <img class="grid-photo-image" src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="grid-photo-image" src="https://images.unsplash.com/photo-1575444758702-4a6b9222336e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="grid-photo-image" src="https://images.unsplash.com/photo-1543007631-283050bb3e8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80">
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="grid-photo-image" src="https://images.unsplash.com/photo-1566417713940-fe7c737a9ef2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80">
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="grid-photo-image" src="https://images.unsplash.com/photo-1605270012917-bf157c5a9541?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80">
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="grid-photo-image" src="https://images.unsplash.com/photo-1573551565922-aec98de55802?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fGNvY2t0YWlsc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60">
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>