<p class="navigationBar">
    <mat-toolbar class="navigationBar-solid">
        <span>
            <img class="navigationBar-logo" src="../../assets/Hacienda Volpes Logo Website.png">
        </span>
        <span>WeBar</span>
        <span class="example-spacer"></span>
        <h4 class="navigationBar-routers" routerLink="">The Lounge</h4>
        <span class="example-spacer"></span>
        <h4 class="navigationBar-routers" routerLink="">Cocktail List</h4>
        <h4 class="navigationBar-routers" routerLink=""></h4>
       <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>-->
    </mat-toolbar>
</p>
